# C++ objects and libs
build/*
*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib
.svn
*~
*swp
*autosave
# Qt-es
*.txt.user
*.pro.user
*.pro.user.*
moc_*.cpp
qrc_*.cpp
Makefile
*-build-*
*/CMakeFiles/*
